################################################
#                    Priority                  #
# Env variables > Config File > Default values #
################################################

# Base
TZ=UTC
LOG_LEVEL=info
NODE_ENV=

# Network
PORT=
HOST=

# Secret
APP_KEY=

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# Session
SESSION_DRIVER=redis

# App1
APP_URL=

# Cookies
SESSIONS_SHARE_DOMAIN=
SESSION_ALLOW_CROSS_SUBDOMAIN=false

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Rate Limiter
LIMITER_STORE=redis

# SMTP
SMTP_HOST=
SMTP_PORT=587
SMTP_ADDRESS=
SMTP_NAME=''








